.crypto-img{
    margin:auto;
    display:block;
    max-width: 100px;
    max-height:100x;
}
.crypto-card{
    border-radius:12px;
    padding:3px 1px 3px 1px;
    
}
#collapseSection{
    
  
}
.jumbotron-fluid {
    background-color:cadetblue;}

body{
    background-color:azure;
}
.navbar{
    background-color:cadetblue;
}